<button mat-button class="slider" (click)="getDetails()" *ngIf="!click">
  <i *ngIf="browserName === 'Chrome'" class="fab fa-chrome"></i>
  <i *ngIf="browserName === 'Opera'" class="fab fa-opera"></i>
  <i *ngIf="browserName === 'Firefox'" class="fab fa-firefox-browser"></i>
  
</button>
<div class="browser" [ngStyle]="{display:click?'block':'none', transform:click?'scaleX(1)':'scaleX(0)'}">
  <i *ngIf="browserName === 'Chrome'" class="fab fa-chrome"></i>
  <i *ngIf="browserName === 'Opera'" class="fab fa-opera"></i>
  <i *ngIf="browserName === 'Firefox'" class="fab fa-firefox-browser"></i>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" selected>{{browserName}}</mat-chip>
    <mat-chip color="accent" selected>{{browserVersion}}</mat-chip>
  </mat-chip-list>
  <button matt-button (click)="getDetails()">
      <mat-icon>arrow_back_ios</mat-icon>
  </button>
</div>
