html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

nav {
  min-height: 64px; }
  nav .brand-logo img {
    width: 64px;
    height: 64px; }

.driver {
  position: relative;
  height: 450px;
  background-image: url('../img/florist_wedding.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}  


.vertical {
  border-right: 1px solid gray; }

.destination_source {
  margin: auto 10px;
  padding: 30px;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(143,143,143,1);
  -moz-box-shadow: 0px 3px 9px 1px rgba(143,143,143,1);
  box-shadow: 0px 3px 9px 1px rgba(143,143,143,1);
}

.about {
  display: none; }
  .about .profile img {
    border-radius: 50%; }
  .about .profile .up {
    margin-top: 50px; }

.contact {
  display: none;
  margin: auto 10px;
  padding: 30px; 
  -webkit-box-shadow: 0px 3px 9px 1px rgba(143,143,143,1);
  -moz-box-shadow: 0px 3px 9px 1px rgba(143,143,143,1);
  box-shadow: 0px 3px 9px 1px rgba(143,143,143,1);
}

.signup {
  width: 90%;
  margin: auto 10px; }
  .signup img {
    width: 100%; }

.review {
  padding: 50px; }
  .review .stars {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 3rem; }
  .review label {
    cursor: pointer;
    font-size: 3rem; }
  .review-logo img {
    width: 400px;
    height: 400px;
    margin: auto 10px; }

.star-on, .review input:not(:checked) ~ label:hover,
.review input:not(:checked) ~ label:hover ~ label {
  color: gold; }

.star-off {
  color: #444; }

.service {
  width: 80%;
  margin: auto 10px; }
  .service .first article {
    cursor: grab;
    position: absolute;
    background-color: teal;
    width: 25px;
    height: 150px;
    margin-left: -25px; }
    .service .first article:active {
      cursor: grabbing; }

.cart-box {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 300px;
  margin-left: -100px;
  border: 1px solid pink;
  display: none; }

#map {
  width: 300px;
  height: 300px; }

footer {
  position: relative;
  width: 100%;
  height: 60px; }
  footer .pink {
    position: absolute;
    color: lavender;
    bottom: 0;
    width: 100%;
    height: 50px; }
.submit-btn{
  text-align: center;
}

.content-blk{
  padding:20px !important;
}
