html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.driver img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 5vw;
  margin-right: 0; }

.vertical {
  border-right: 1px solid gray; }

.destination_source {
  width: 80%;
  margin: auto 10px;
  padding: 20px;
  border: 1px solid gray; }
