html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

nav {
  min-height: 64px; }
  nav .brand-logo img {
    width: 64px;
    height: 64px; }

.driver img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 5vw;
  margin-right: 0; }

.vertical {
  border-right: 1px solid gray; }

.destination_source {
  width: 80%;
  margin: auto 10px;
  padding: 20px;
  border: 1px solid gray; }

.about {
  display: none; }
  .about .profile img {
    border-radius: 50%; }
  .about .profile .up {
    margin-top: 50px; }

.contact {
  display: none;
  width: 80%;
  margin: auto 2px;
  padding: 10px; }

.signup {
  width: 90%;
  margin: auto 10px; }
  .signup img {
    width: 100%; }

.review {
  padding: 50px; }
  .review .stars {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 3rem; }
  .review label {
    cursor: pointer;
    font-size: 3rem; }
  .review-logo img {
    width: 400px;
    height: 400px;
    margin: auto 10px; }

.star-on, .review input:not(:checked) ~ label:hover,
.review input:not(:checked) ~ label:hover ~ label {
  color: gold; }

.star-off {
  color: #444; }

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 100px; }
  footer .pink {
    position: absolute;
    color: lavender;
    bottom: 0;
    width: 100%;
    height: 50px; }
