html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

nav {
  min-height: 64px; }
  nav .brand-logo img {
    width: 64px;
    height: 64px; }

.driver {
  position: relative;
  height: 450px;
  background-image: url("../img/florist_wedding.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.vertical {
  border-right: 1px solid gray; }

.destination_source {
  padding: 30px;
  -webkit-box-shadow: 0px 3px 9px 1px #8f8f8f;
  -moz-box-shadow: 0px 3px 9px 1px #8f8f8f;
  box-shadow: 0px 3px 9px 1px #8f8f8f; }

.about {
  display: none; }
  .about .profile img {
    border-radius: 50%; }
  .about .profile .up {
    margin-top: 50px; }

.contact {
  display: none;
  margin: auto 10px;
  padding: 30px;
  -webkit-box-shadow: 0px 3px 9px 1px #8f8f8f;
  -moz-box-shadow: 0px 3px 9px 1px #8f8f8f;
  box-shadow: 0px 3px 9px 1px #8f8f8f; }

.signup {
  width: 90%;
  margin: auto 10px; }
  .signup img {
    width: 100%; }

.review {
  padding: 50px; }
  .review .stars {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 3rem; }
  .review label {
    cursor: pointer;
    font-size: 3rem; }
  .review-logo img {
    width: 400px;
    height: 400px;
    margin: auto 10px; }

.star-on, .review input:not(:checked) ~ label:hover,
.review input:not(:checked) ~ label:hover ~ label {
  color: gold; }

.star-off {
  color: #444; }

.service {
  width: 80%;
  margin: auto 10px; }
  .service .first article {
    cursor: grab;
    position: absolute;
    background-color: teal;
    width: 25px;
    height: 150px;
    margin-left: -25px; }
    .service .first article:active {
      cursor: grabbing; }

.cart-box {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 300px;
  margin-left: -100px;
  border: 1px solid pink;
  display: none; }

#map {
  width: 300px;
  height: 300px; }

.materialert {
  position: relative;
  min-width: 150px;
  width: 50vw;
  padding: 15px;
  margin: auto 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.materialert .material-icons {
  margin-right: 10px; }

.materialert .close-alert {
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  filter: alpha(opacity=40);
  margin-bottom: -5px;
  position: absolute;
  top: 16px;
  right: 5px; }

.materialert.info {
  background-color: #039be5;
  color: #fff; }

.materialert.success {
  background-color: #43a047;
  color: #fff; }

.materialert.error {
  background-color: #c62828;
  color: #fff; }

.materialert.danger {
  background-color: #c62828;
  color: #fff; }

.materialert.warning {
  background-color: #fbc02d;
  color: #fff; }

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 100px; }
  footer .pink {
    position: absolute;
    color: lavender;
    bottom: 0;
    width: 100%;
    height: 50px; }

.mycart {
  position: fixed;
  width: 80px;
  height: auto;
  right: 0;
  top: 200px;
  text-align: center;
  color: white;
  background-color: #f50057;
  font-size: 2rem;
  padding: 10px; }
