<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>
      {{title}}s
    </mat-card-title>
    <mat-card-subtitle>
      {{subtitle}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{description}}
    </p>
    <mat-form-field appearance="fill">
      <mat-label>{{title}}s</mat-label>
      <mat-select #select (selectionChange)="getReview(select.value._id)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let car of allCar" [value]="car">
          <img [width]="select_img_size" [height]="select_img_size" [src]="getCarImgSrc(car.imageid)">
          {{car.model}}
        </mat-option>
        <mat-option *ngFor="let flower of allFlower" [value]="flower">
          <img [width]="select_img_size" [height]="select_img_size" [src]="getFlowerImgSrc(flower.imageid)">
          {{flower.flowerName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-chip-list aria-label="Fish selection" *ngIf="select.value">
      {{title}} Code:
      <mat-chip color="primary">{{select.value.storeCode  || select.value.carCode  }}</mat-chip>
   </mat-chip-list>
  </mat-card-content>
  <mat-card-footer>
    <mat-form-field  class="textarea" appearance="outline">
      <mat-label>comment</mat-label>
      <textarea #comment matInput cdkTextareaAutosize [disabled]="!select.value"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="4"></textarea>
    </mat-form-field>
    <mat-card-actions *ngIf="select.value">
      <button mat-button (click)="review('like')" [ngStyle]="{color: like? 'green': 'black'}"><mat-icon>thumb_up</mat-icon></button>
      <button mat-button (click)="review('dislike')"  [ngStyle]="{color: dislike? 'red': 'black'}"><mat-icon>thumb_down</mat-icon></button>
      <button mat-button (click)="submit(comment.value, select.value._id)"><mat-icon>send</mat-icon></button>
      <small>{{numberOfReviews}} Users Voted</small>
    </mat-card-actions>
    <span class="star" *ngIf="select.value && numberOfReviews == 0">
      {{ (score/(numberOfReviews + 1))*5 | number:'1.1-1'}}/5
      <mat-icon>star_outline</mat-icon>
    </span>

    <span class="star" *ngIf="select.value && numberOfReviews > 0">
      {{(score/numberOfReviews)*5 | number:'1.1-1'}}/5
      <mat-icon *ngIf="(score/numberOfReviews)*5 == 5">star</mat-icon>
      <mat-icon *ngIf="(score/numberOfReviews)*5 < 5 && (score/numberOfReviews)*5 > 0">star_half</mat-icon>
      <mat-icon *ngIf="score == 0">star_outline</mat-icon>
    </span>
  </mat-card-footer>
</mat-card>


<mat-accordion *ngIf="select.value && allReviews.length > 0" class="comments" multi>
  <h2>Reviews</h2>
  <mat-expansion-panel *ngFor="let review of allReviews">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{review.itemId}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon [ngStyle]="{color: review.score == 1? 'green': 'red'}">{{review.score == 1?'thumb_up':'thumb_down'}}</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
      <p>{{review.review}}</p>
  </mat-expansion-panel>
</mat-accordion>
