<div class="reviews">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Driver
      </mat-card-title>
      <mat-card-subtitle>
        Review The Selected Driver
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <mat-form-field appearance="fill">
        <mat-label>Drivers</mat-label>

        <mat-select #select_car>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let car of allCar" [value]="car.carCode">
            <img [width]="select_img_size" [height]="select_img_size" [src]="getCarImgSrc(car.imageid)">
            {{car.model}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-chip-list aria-label="Fish selection" *ngIf="select_car.value">
        Car Code:
        <mat-chip color="primary">{{select_car.value}}</mat-chip>
     </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
