<div class="reviews">
  <mat-button-toggle-group [formControl]="toggleControl" aria-label="Font Style">
    <mat-button-toggle value="driver"><mat-icon>time_to_leave</mat-icon></mat-button-toggle>
    <mat-button-toggle value="flower"><mat-icon>yard</mat-icon></mat-button-toggle>
    <mat-button-toggle value="green"><mat-icon>spa</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>
  <app-review-card *ngIf="toggleControl.value === 'driver'"
   title="Driver"
   subtitle="Review The Selected Driver"
   description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
   ></app-review-card>
   <app-review-card *ngIf="toggleControl.value === 'flower'"
    title="Flower"
    subtitle="Review The Selected Flower"
    description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    ></app-review-card>
    <app-review-card *ngIf="toggleControl.value === 'green'"
     title="Green"
     subtitle="Review The Selected Green Product"
     description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
     ></app-review-card>
</div>
