<div class="cart" layout-fill layout="column" layout-align="center none">
    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          My Cart   <mat-icon>add_shopping_cart</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="panelOpenState">
            <span class="success">Close Invoice</span>
          </div>
          <div *ngIf="!panelOpenState">
            <span class="error"> Open Invoice</span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="orderedFlower.length > 0">
        <div class="flower-arc-wrapper">
          <div *ngFor="let flower of orderedFlower">
            <div class="flower-dropdown">
              <div class="flower-img">
                <img [src]="getFlowerImgSrc(flower.imageid)" alt={{flower.flowerName}} width="200px">
              </div>
              <div class="flower-details">
                <div><strong>Flower Name</strong> - {{flower.flowerName}}</div>
                <div><strong>Flower code</strong> - {{flower.storeCode}}</div>
                <div><strong>Price</strong> - {{flower.price}}$</div>
                <div>
                  <form>
                    <span><mat-icon>edit</mat-icon> Edit</span>
                    <mat-form-field appearance="fill">
                      <mat-label>Quantity</mat-label>
                      <input matInput type="number" min="1" value={{flower.quantity}} (change)="updateQuantity($event,flower.id)">
                    </mat-form-field>
                  </form>
                </div>
                <button (click)="removeFlower(flower.id)">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="orderedDriver">
        <div class="flower-arc-wrapper">
          <div class="flower-dropdown">
            <div class="flower-img">
              <img [src]="getCarImgSrc(orderedDriver.imageid)" alt={{orderedDriver.model}} width="200px">
            </div>
            <div class="flower-details">
              <div><strong>Model</strong> - {{orderedDriver.model}}</div>
              <div><strong>Car code</strong> - {{orderedDriver.carCode}}</div>
              <div><strong>Price</strong> - 12$</div>
              <div>
              </div>
              <button (click)="cancelDrive()">Cancel</button>
            </div>
          </div>
        </div>
      </div>


      <button (click)="getSummary()">Check Out</button>
      <div *ngIf="summary" class="summary-info">
        Total Price: {{summary}} $
      </div>

      <h3 *ngIf="!orderedFlower">Cart Empty</h3>
    </mat-expansion-panel>
  </mat-accordion>
</div>
