html, body, main {
  height: 100%; width: 100%; margin: 0; padding: 0;
  scroll-behavior: smooth;
}


nav{
  $size: 64px;
  min-height:$size;
  .brand-logo{
    img{
      width:$size;
      height:$size;
    }
  }

}

.driver{
  img{
    width: 100%;
    height: auto;
    overflow:hidden;
    margin: {
      top:5vw;
      right: 0;
    }
  }
}

.vertical{
  border: {
    right:1px solid gray;
  }
}

.destination_source{
  width: 80%;
  margin: auto 10px;
  padding: 20px;
  border: 1px solid gray;
}

.about{
  display: none;
  .profile{
    img{
      border-radius: 50%;
    }
    .up{
      margin: {
        top:50px;
      }
    }
  }
}

.contact{
  display: none;
  width: 80%;
  margin: auto 2px;
  padding: 10px;
}

.signup{
  width:90%;
  margin: auto 10px;
  img{
    width: 100%;
  }
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin: {
    top:100px;
  }
  .pink{
    position: absolute;
    color: lavender;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
}
