.drivers-tab-header
  line-height: 40px
  font-size: 40px
  text-align: center
  margin: 30px

.car-arc-wrapper
  padding: 30px

.car-dropdown
  padding: 20px

.car-dropdown
  display: flex
  flex-direction: row
  gap: 40px

.mat-expansion-panel
  margin: 20px
