<div class="address-autocomplete">
  <app-autocomplete-address (setAddress)="getSourceAddress($event)"></app-autocomplete-address>
  <mat-icon>arrow_right_alt</mat-icon>
  <app-autocomplete-address (setAddress)="getDestinAddress($event)"></app-autocomplete-address>
</div>
<div class="btn-middle">
  <button mat-button color="primary" (click)="showMap()">Show map!</button>
</div>
<app-map #myMap></app-map>

<div class="drivers-tab-header">
  <span>Our current drivers</span>
</div>
<div class="car-arc-wrapper" *ngIf="allCar">
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = updateData($event)">
  </mat-paginator>
  <mat-accordion *ngFor="let car of allCar">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Car model</strong>
        </mat-panel-title>
        <mat-panel-description>
          {{car.model}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="car-dropdown">
        <div class="car-img">
          <img [src]="getCarImgSrc(car.imageid)" alt={{car.model}} width="200px">
        </div>
        <div class="car-details">
          <div><strong>Car Model</strong> - {{car.model}}</div>
          <div><strong>Car code</strong> - {{car.carCode}}</div>
          <div><strong>Availability</strong> - {{car.available? "Yes" : "No"}}</div>
          <div><strong>Price</strong> - 12$ per km</div>
          <div *ngIf="car.usersVoted">{{car.score | number: '1.1-1'}}/5 <mat-icon>star</mat-icon></div>
          <div *ngIf="car.usersVoted">{{car.usersVoted}} Users Voted</div>
          <div *ngIf="!car.usersVoted">No Reviews Submitted <mat-icon>sentiment_dissatisfied</mat-icon></div>
        </div>
        <div>
          <button mat-button color="primary">Select car</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
