@use "@material/image-list"
@use "@material/image-list/mdc-image-list"

@mixin respo($max, $min, $col, $marg)
    @media screen and (max-width: $max) and (min-width: $min)
        @include image-list.standard-columns($col, $marg)

.my-image-list
    $margs: 1px
    @include image-list.standard-columns(3, $margs)
    @include image-list.aspect(2)
    @include image-list.shape-radius(100px, false)
    @include respo(533px, 0, 3, $margs)
    @include respo(1066px, 533px, 4, $margs)
    @include respo(2132px, 1066px, 5, $margs)
    mat-accordion
        margin: 10px auto


.green
    &-tab-header
        line-height: 40px
        font-size: 40px
        text-align: center
        margin: 30px
    &-container
        display: flex
        justify-content: center

.address-autocomplete
  display: flex
  flex-direction: row
  justify-content: center
  margin: 20px
  align-items: center
  font-size: 36px

.map-container
  width: 100vw !important
  height: 100%

.btn-middle
  width: 100%
  text-align: center
  button
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)

.error-msg-wrapper
  text-align: center
  display: flex
  justify-content: center

.error-msg
  margin: 20px
  color: white
  background-color: red
  width: 200px
  line-height: 30px

