<div class="address-autocomplete">
    <app-autocomplete-address (setAddress)="getSourceAddress($event)"></app-autocomplete-address>
    <mat-icon>arrow_right_alt</mat-icon>
    <app-autocomplete-address (setAddress)="getDestinAddress($event)"></app-autocomplete-address>
</div>

<div class="btn-middle">
    <button mat-button color="primary" (click)="showMap()">Show map!</button>
</div>
<app-map #myMap></app-map>


<div class="green-tab-header">
    <span>Our current drivers & products</span>
</div>

<div class="green-container">
    <mat-button-toggle-group [formControl]="toggleControl" aria-label="Font Style">
        <mat-button-toggle value="driver"><mat-icon>time_to_leave</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flower"><mat-icon>yard</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
    <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = updateData($event)">
  </mat-paginator>
</div>
<ul class="mdc-image-list my-image-list"  *ngIf="toggleControl.value == 'driver'">
    <li #item (click)="onPinCar(item, car)" class="mdc-image-list__item" *ngFor="let car of allCar">
        <mat-icon>
            push_pin
        </mat-icon>
        <div class="mdc-image-list__image-aspect-container">
            <img class="mdc-image-list__image" [src]="getCarImgSrc(car.imageid)">
        </div>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    {{car.model}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{car.carCode}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="car.usersVoted">
                    <!-- {{description}} -->
                    {{car.score | number: '1.1-1'}}/5 
                </p>
                <p *ngIf="!car.usersVoted">
                    no user review 
                </p>
                <mat-icon *ngIf="car.usersVoted">star</mat-icon>
                <mat-icon *ngIf="!car.usersVoted"> sentiment_dissatisfied </mat-icon>
            </mat-card-content>
        </mat-card>
        <div class="mdc-image-list__supporting">
            <span class="mdc-image-list__label">{{12}}$ per km</span>
        </div>
    </li>
</ul>

<ul class="mdc-image-list my-image-list" *ngIf="toggleControl.value == 'flower'">
    <li #item (click)="onPinFlower(item, flower)" class="mdc-image-list__item" *ngFor="let flower of allFlower">
        <mat-icon>
            push_pin
        </mat-icon>
        <div class="mdc-image-list__image-aspect-container">
            <img class="mdc-image-list__image" [src]="getFlowerImgSrc(flower.imageid)">
        </div>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    {{flower.flowerName}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{flower.storeCode}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="flower.usersVoted">
                    <!-- {{description}} -->
                    {{flower.score | number: '1.1-1'}}/5 
                </p>
                <p *ngIf="!flower.usersVoted">
                    no user reviews 
                </p>
                <mat-icon *ngIf="flower.usersVoted">star</mat-icon>
                <mat-icon *ngIf="!flower.usersVoted"> sentiment_dissatisfied </mat-icon>
            </mat-card-content>
        </mat-card>
        <div class="mdc-image-list__supporting">
            <span class="mdc-image-list__label" [id]="flower._id">{{flower.price | number: '1.2-2'}}$</span>
        </div>
    </li>
</ul>
<app-comparing-table [pin1]="pin1" [pin2]="pin2" [flowerPin1]="flowerPin1" [flowerPin2]="flowerPin2"></app-comparing-table>