<div class="address-autocomplete">
    <app-autocomplete-address (setAddress)="getSourceAddress($event)"></app-autocomplete-address>
    <mat-icon>arrow_right_alt</mat-icon>
    <app-autocomplete-address (setAddress)="getDestinAddress($event)"></app-autocomplete-address>
</div>

<div class="btn-middle">
    <button mat-button color="primary" (click)="showMap()">Show map!</button>
</div>
<app-map #myMap></app-map>


<div class="green-tab-header">
    <span>Our current drivers & products</span>
</div>

<div class="green-container">
    <mat-button-toggle-group [formControl]="toggleControl" aria-label="Font Style">
        <mat-button-toggle value="driver"><mat-icon>time_to_leave</mat-icon></mat-button-toggle>
        <mat-button-toggle value="flower"><mat-icon>yard</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
    <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = updateData($event)">
  </mat-paginator>
</div>