<div class="address-autocomplete">
  <app-autocomplete-address (setAddress)="getSourceAddress($event)"></app-autocomplete-address>
  <mat-icon>arrow_right_alt</mat-icon>
  <app-autocomplete-address (setAddress)="getDestinAddress($event)"></app-autocomplete-address>
</div>

<div class="btn-middle">
  <button mat-button color="primary" (click)="showMap()">Show map!</button>
</div>

<div *ngIf="error" class="error-msg-wrapper">
  <div class="error-msg">
    <span>
      <mat-icon>error</mat-icon> {{error}}
    </span>
  </div>
</div>


<app-map #myMap></app-map>

<!-- DROP DRAG -->

<div cdkDropListGroup>


  <div class="shopping-cart" cdkDropList [cdkDropListData]="cart" (cdkDropListDropped)="drop($event)"
    (click)="checkOut()">
    <mat-icon>shopping_cart</mat-icon>
    <div>{{itemCount > 0? itemCount: null}}</div>
  </div>

  <!-- DROP DRAG -->

  <div class="flowers-tab-header">
    <span>Our current products</span>
  </div>
  <div class="flower-arc-wrapper" *ngIf="allFlower">

    <!-- PAGINATION -->

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = updateData($event)">
    </mat-paginator>

    <!-- ACCORDION LIST -->

    <mat-accordion *ngFor="let flower of cart">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Flower name</strong>
          </mat-panel-title>
          <mat-panel-description>
            <span>{{flower.flowerName}} - <span class="in-cart"> In Cart</span></span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flower-dropdown">
          <div class="flower-img">
            <img [src]="getFlowerImgSrc(flower.imageid)" alt={{flower.flowerName}} width="200px">
          </div>
          <div class="flower-details">
            <div><strong>Flower Name</strong> - {{flower.flowerName}}</div>
            <div><strong>Flower code</strong> - {{flower.storeCode}}</div>
            <div><strong>Price</strong> - {{flower.price}}$</div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion cdkDropList [cdkDropListData]="allFlower" (cdkDropListDropped)="drop($event)"
      *ngFor="let flower of allFlower">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" cdkDrag>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Flower name</strong>
          </mat-panel-title>
          <mat-panel-description>
            {{flower.flowerName}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flower-dropdown">
          <div class="flower-img">
            <img [src]="getFlowerImgSrc(flower.imageid)" alt={{flower.flowerName}} width="200px">
          </div>
          <div class="flower-details">
            <div><strong>Flower Name</strong> - {{flower.flowerName}}</div>
            <div><strong>Flower code</strong> - {{flower.storeCode}}</div>
            <div><strong>Price</strong> - {{flower.price}}$</div>
            
          <div *ngIf="flower.usersVoted">{{flower.score | number: '1.1-1'}}/5 <mat-icon>star</mat-icon></div>
          <div *ngIf="flower.usersVoted">{{flower.usersVoted}} Users Voted</div>
          <div *ngIf="!flower.usersVoted">No Reviews Submitted <mat-icon>sentiment_dissatisfied</mat-icon></div>
          </div>
        </div>
        <img *cdkDragPreview [src]="getFlowerImgSrc(flower.imageid)" alt={{flower.flowerName}} width="200px">
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
