.address-autocomplete
  display: flex
  flex-direction: row
  justify-content: center
  margin: 20px
  align-items: center
  font-size: 36px

.mat-icon
    vertical-align: middle

.map-container
  width: 100vw !important
  height: 100%

.btn-middle
  width: 100%
  text-align: center

.btn-middle button
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)


.flowers-tab-header
  line-height: 40px
  font-size: 40px
  text-align: center
  margin: 30px


.flower-arc-wrapper
  padding: 30px

.flower-dropdown
  padding: 20px

.flower-dropdown
  display: flex
  flex-direction: row
  gap: 40px

.mat-expansion-panel
  margin: 20px

.shopping-cart
  position: fixed
  width: 40px
  height: 40px !important
  right: 0
  top: 200px
  background-color: #3f51b5
  color: white
  text-align: center
  padding: 4px
  cursor: pointer


.cdk-drag-preview
  box-sizing: border-box
  border-radius: 4px
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),0 8px 10px 1px rgba(0, 0, 0, 0.14),0 3px 14px 2px rgba(0, 0, 0, 0.12)


.cdk-drag-placeholder
  opacity: 0


.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)


.example-box:last-child
  border: none


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.in-cart
  color: green

.error-msg-wrapper
  text-align: center
  display: flex
  justify-content: center

.error-msg
  margin: 20px
  color: white
  background-color: red
  width: 200px
  line-height: 30px

