
<div class="about-us-header">
  <span><strong>Meet the developers!</strong></span>
</div>
<div class="about-us-wrapper">
  <div class="card-wrapper">
    <about-card name="Duc Nguyen" student_number="# 500910998" job="Team 6 Full stack engineer"></about-card>
  </div>
  <div class="card-wrapper">
    <about-card name="Sourena Khanzadeh" student_number="# 500929191" job="Team 6 Full stack engineer"></about-card>
  </div>
  <div class="card-wrapper">
    <about-card name="Farhan Tahmeed Sami" student_number="# 500982031" job="Team 6 Full stack engineer"></about-card>
  </div>
</div>

<div  mat-button matRipple matRippleColor="#ffffff22" class="logo">
</div>
