.about-us-wrapper
  // width: auto
//   padding: 100px
//   display: flex
//   flex-direction: row
//   flex-wrap: wrap
//   justify-content: space-evenly


.about-us-header
  width: 100%
  text-align: center
  margin: 40px

.about-us-header span
  font-size: 40px
  line-height: 40px
