.about-us-wrapper
  padding: 100px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly

.example-card
  width: 27%
  @media screen and ( max-width: 1209px )
    width: 100%
    margin-bottom: 20px

.about-us-header
  width: 100%
  text-align: center
  margin: 40px

.about-us-header span
  font-size: 40px
  line-height: 40px
