<div class="container">

  <div class="row">
    <div class="flex-items">
      <div class="homepage-context">
        <div class="homepage-header">Welcome To Devil May Air</div>
        <div class="homepage-overview">
          <h2>Overview</h2>
          <p>
            Over the past few years, the living conditions of everyone have been affected heavily by the carbon
            emissions
            caused by industrial waste or transportation. Several solutions have been developed in order to tackle
            this
            problem, and they all show promising results.
            <br><br>
            The project applies the “Plan for Smart Services” (P2S) Web application methodology as a mean of creating
            potential services help reduce air pollution. The web application is developed under the LAMP stack
            (Linux,
            Apache, MySQL, PHP) with MVC architecture. Additionally, the web app includes open libraries such as
            google
            map, SASS, JQuery to assist the system.
            <br><br>
          </p>
          <div class="homepage-register-btn">
            <button mat-button color="primary">Register</button>
          </div>
        </div>
      </div>
    </div>
    <div class="img-1">
      <!-- <img src="../assets/img/florist_wedding.jpg" width="100%"> -->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="img-2">
      <!-- <img src="../assets/img/florist2.jpeg" width="100%"> -->
    </div>
    <div class="flex-items">
      <div class="homepage-context">
        <div class="homepage-header">What's new?</div>
        <div class="homepage-overview">
          <p>
            First and foremost, our developing team has decided to work on migrating old technologies stack - LAMP to a
            completely new and more scaleable tech stack. We are pleased to introduce the MEAN stack: MongoDB,
            ExpressJs, Angular, Nodejs. Despite having the same MVC design pattern, it allows us to control our page
            more efficiently. With such a powerful tech stack, we would like to introduce 2 more services to our system:
            <br><br>
            The project applies the “Plan for Smart Services” (P2S) Web application methodology as a mean of creating
            potential services help reduce air pollution. The web application is developed under the LAMP stack
            (Linux,
            Apache, MySQL, PHP) with MVC architecture. Additionally, the web app includes open libraries such as
            google
            map, SASS, JQuery to assist the system.
            <br><br>
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
